.presentation_div{
    font-size: 20px;
    display: flex;
    flex-direction: row;
   justify-content: space-evenly

}
.summary{
       font-size: medium;
  margin-top: 4%;

}
.position{


}
.student{
 

}
.Text_presentation{
   
    position: absolute;
    top: 40%;
    left: 10%;
}
.name{
 font-weight: bold;
 color: #ff7d00;

}
.photo_presentation{
    margin-left: 65%;
    margin-top: 12%;
   
   

}
.photo_presentation img{
    width: 60%;
}