<section class="section hero" id="hero">
  <div class="hero-left">
    <div class="eyebrow">{{ t('hero.eyebrow') }}</div>
    <div class="im">{{ t('hero.im') }}</div>
    <div class="name-big">
      <span class="name-orange">Angela</span>
      {{ displayedName }}<span class="ncursor" [class.done]="nameDone"></span>
    </div>
    <div class="divl"></div>
    <div class="summary-text">
      {{ displayedSummary }}<span class="scursor" [class.done]="summaryDone"></span>
    </div>
  </div>

  <div class="hero-right">
    <div class="av-wrap">
      <div class="av-glow"></div>
      <div class="av-ring"></div>
      <div class="av-ring2"></div>
      <div class="av-img">
       
      <img src="assets/images/WhatsApp Image 2026-02-26 at 8.42.15 PM(1).jpeg" alt="Angela Fanomezantsoa">
    
      </div>
    </div>
  </div>
</section>