<div class="presentation_div" >
    <div class="Text_presentation">
          <div>
        I'm <span class="name">Angela Fanomezantsoa</span>

    </div>
    <div >
        <p class="position">
            Full-Stack Developer
        </p> 
        <p class="student">
            MIAGE Master’s Student
        </p>
    </div>

    <div class="summary">
        I build modern web applications using technologies like Java, <br>

        Spring Boot, React, and Angular. <br>
        Passionate about software architecture, clean code, and building reliable systems. <br>
    </div>

    </div>

    <div class="photo_presentation">

        <img src="../../assets/images/Avatar.png" alt="">


    </div>
  
</div>
