

<div class="contact_div">

    <div>

        <a href="https://mail.google.com/mail/?view=cm&to=angelafanomezantsoa710@gmail.com" target="_blank"><img src="../../assets/images/mail.svg" alt=""></a>

    </div>
      <div>

        <a href="https://www.linkedin.com/in/angela-fanomezantsoa-b641b1388/" target="_blank"><img src="../../assets/images/linkedin.svg" alt=""></a>
        
      </div>
      <div>

        <a href="https://github.com/fanomezantsoa-angela" target="_blank"><img src="../../assets/images/github.svg" alt=""></a>
        
      </div>

</div>
